@import "var.scss";
@import "global.scss";

.upload {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-top: 80px;
  .title {
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: $color-black;
  }
  hr {
    width: 98%;
  }
  .section {
    height: 180px;
    //@include layout(center, center);
  }
  #user {
    overflow: hidden;
    //width: $header-user-width;
    //height: $header-user-height;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    margin: 50px;

    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
